<div class="row mt-5" id="tramite-carnet">
  <div class="col-12">

    <div class="row">
      <!-- Linea vertical de progreso -->
      <div class="col-2 mt-5">
        <div class="circle">
          <p class="text-center font-position">{{dataProgreso.fase}}</p>
        </div>
          <!-- <div class="linea-vertical-top"></div>
          <div class="circulo-contador"><p class="text-center">{{dataProgreso.fase}}</p></div>
          <div class="linea-vertical-bottom"></div> -->
      </div>

      <div class="col-8 backCol-normal" id="main-tramite-carnet">

        <div class="row mt-5">
          <div class="col-12">
            <p><ngb-progressbar type="primary" [value]="dataProgreso.progreso"><b>{{dataProgreso.fase}} de {{dataProgreso.numFases}}</b>...</ngb-progressbar></p>
          </div>
        </div>

        <div class="row ml-3 mr-1 backCol-ama-claro-radius">
          <div class="col-12">
            <h1 class="text-right pr-5 pt-2 p-cafe-betm-30 animated fadeIn ">{{dataProgreso.titulo}}</h1>
          </div>
        </div>

        <!-- Primer Paso -->
        <div class="row m-4 backCol-box-blue-transparente animated fadeIn" *ngIf="dataProgreso.fase === 1">
          <div class="col-12">
        
            <div class="row">
              <div class="col-12">
                <h3>{{'label.tramite.core.carnet.fase.uno.titulo' | translate}}</h3>
                <h5>{{'label.tramite.core.carnet.fase.uno.parrafo' | translate}}</h5>
                <p-radioButton name="faseuno" value="{{radioOpts.opt1}}" label="{{'label.tramite.core.carnet.fase.uno.radio.uno' | translate}}" [(ngModel)]="radioValue"></p-radioButton><br>
                <p-radioButton name="faseuno" value="{{radioOpts.opt2}}" label="{{'label.tramite.core.carnet.fase.uno.radio.dos' | translate}}" [(ngModel)]="radioValue"></p-radioButton><br>
                <p-radioButton name="faseuno" value="{{radioOpts.opt3}}" label="{{'label.tramite.core.carnet.fase.uno.radio.tres' | translate}}" [(ngModel)]="radioValue"></p-radioButton><br>
                <p-radioButton name="faseuno" value="{{radioOpts.opt4}}" label="{{'label.tramite.core.carnet.fase.uno.radio.cuatro' | translate}}" [(ngModel)]="radioValue"></p-radioButton><br>
                <button
                  [disabled]=" radioValue ? false : true" 
                  class="btn btn-primary btn-block mt-5 mb-5" 
                  (click)="siguiente(radioValue)"
                >Siguiente
                </button>
              </div>
            </div>

          </div>
        </div>
        <!-- Fin Primer Paso -->

        <!-- Segundo Paso -->
        <div class="row m-4 backCol-box-blue-transparente" *ngIf="dataProgreso.fase === 2">
          <div class="col-12">
        
            <div class="row animated slideShow">
              <div class="col-12">
                <h3>{{'label.tramite.core.carnet.fase.dos.titulo' | translate}}</h3>
                <h5>{{'label.tramite.core.carnet.fase.dos.parrafo' | translate}}</h5>
                
                <!-- Opciones Primera solicitud de Cedula -->
                <div class="row" *ngIf="radioValue === radioOpts.opt1">
                  <div class="col-12">
                    <p-checkbox
                      label="{{'label.tramite.core.carnet.fase.dos.opt.uno.check.uno'| translate}}" 
                      #check_1
                      name="check_1" 
                      (onChange)="faseDosCheckBoxHandler(check_1)"
                      [binary]="true"
                      [disabled]="checkDisabled.disCheck_1" 
                      [(ngModel)]="checkValues.check_1"
                    >
                    </p-checkbox><br>
                    <p-checkbox
                      label="{{'label.tramite.core.carnet.fase.dos.opt.uno.check.dos'| translate}}"  
                      #check_2
                      name="check_2"
                      (onChange)="faseDosCheckBoxHandler(check_2)"
                      [binary]="true"
                      [disabled]="checkDisabled.disCheck_2" 
                      [(ngModel)]="checkValues.check_2"
                    >
                    </p-checkbox>

                    <button 
                      [disabled]="(checkValues.check_1 && checkValues.check_2) ? false : true" 
                      class="btn btn-primary btn-block mt-5 mb-5" 
                      (click)="siguiente()"
                    >Siguiente
                    </button>
                  </div>
                </div>
                <!-- Fin Opciones Primera solicitud de Cedula -->

                <!-- Opciones Visa temporaria -->
                <div class="row" *ngIf="radioValue === radioOpts.opt2">
                  <div class="col-12">
                    <p-checkbox
                      label="{{'label.tramite.core.carnet.fase.dos.opt.dos.check.uno' | translate}}"
                      #check_1
                      name="check_1" 
                      (onChange)="faseDosCheckBoxHandler(check_1)"
                      [binary]="true"
                      [disabled]="checkDisabled.disCheck_1" 
                      [(ngModel)]="checkValues.check_1"
                    >
                    </p-checkbox><br>
                    <p-checkbox 
                      label="{{'label.tramite.core.carnet.fase.dos.opt.dos.check.dos' | translate}}"
                      #check_2
                      name="check_2" 
                      (onChange)="faseDosCheckBoxHandler(check_2)"
                      [binary]="true"
                      [disabled]="checkDisabled.disCheck_2" 
                      [(ngModel)]="checkValues.check_2" 
                    >
                    </p-checkbox><br>
                    <p-checkbox 
                      label="{{'label.tramite.core.carnet.fase.dos.opt.dos.check.tres' | translate}}"
                      #check_3
                      name="check_3" 
                      (onChange)="faseDosCheckBoxHandler(check_3)"
                      [binary]="true"
                      [disabled]="checkDisabled.disCheck_3" 
                      [(ngModel)]="checkValues.check_3" 
                    >
                    </p-checkbox><br>
                    <p-checkbox 
                      label="{{'label.tramite.core.carnet.fase.dos.opt.dos.check.cuatro' | translate}}"
                      #check_4
                      name="check_4" 
                      (onChange)="faseDosCheckBoxHandler(check_4)"
                      [binary]="true"
                      [disabled]="checkDisabled.disCheck_4" 
                      [(ngModel)]="checkValues.check_4" 
                    >
                    </p-checkbox>

                    <button 
                      [disabled]=" (checkValues.check_1 && checkValues.check_2
                      && checkValues.check_3 && checkValues.check_4) ? false : true" 
                      class="btn btn-primary btn-block mt-5 mb-5" 
                      (click)="siguiente()"
                    >Siguiente
                    </button>

                  </div>
                </div>
                <!-- Fin Opciones Visa temporaria -->

                <!-- Opciones Permanencia definitiva -->
                <div class="row" *ngIf="radioValue === radioOpts.opt3">
                  <div class="col-12">
                    <p-checkbox 
                      label="{{'label.tramite.core.carnet.fase.dos.opt.tres.check.uno' | translate}}"
                      #check_1
                      name="check_1" 
                      (onChange)="faseDosCheckBoxHandler(check_1)"
                      [binary]="true"
                      [disabled]="checkDisabled.disCheck_1" 
                      [(ngModel)]="checkValues.check_1"
                    >
                    </p-checkbox><br>
                    <p-checkbox 
                      label="{{'label.tramite.core.carnet.fase.dos.opt.tres.check.dos' | translate}}"
                      #check_2
                      name="check_2" 
                      (onChange)="faseDosCheckBoxHandler(check_2)"
                      [binary]="true"
                      [disabled]="checkDisabled.disCheck_2" 
                      [(ngModel)]="checkValues.check_2" 
                    >
                    </p-checkbox><br>
                    <p-checkbox 
                      label="{{'label.tramite.core.carnet.fase.dos.opt.tres.check.tres' | translate}}"
                      #check_3
                      name="check_3" 
                      (onChange)="faseDosCheckBoxHandler(check_3)"
                      [binary]="true"
                      [disabled]="checkDisabled.disCheck_3" 
                      [(ngModel)]="checkValues.check_3" 
                    >
                    </p-checkbox><br>

                    <button 
                      [disabled]=" (checkValues.check_1 && checkValues.check_2
                      && checkValues.check_3) ? false : true" 
                      class="btn btn-primary btn-block mt-5 mb-5" 
                      (click)="siguiente()"
                    >Siguiente
                    </button>
                  </div>
                </div>
                <!-- Fin Opciones Permanencia definitiva -->
                
                <!-- Opciones Primera Visa dependiente -->
                <div class="row"  *ngIf="radioValue === radioOpts.opt4">
                  <div class="col-12">
                    <p><b>{{'label.tramite.core.carnet.fase.dos.opt.cuatro.parrafo' | translate}}</b></p>
                    <p-checkbox 
                      label="{{'label.tramite.core.carnet.fase.dos.opt.cuatro.check.uno' | translate}}"
                      #check_1
                      name="check_1" 
                      (onChange)="faseDosCheckBoxHandler(check_1)"
                      [binary]="true"
                      [disabled]="checkDisabled.disCheck_1" 
                      [(ngModel)]="checkValues.check_1" 
                    >
                    </p-checkbox><br>
                    <p-checkbox 
                        label="{{'label.tramite.core.carnet.fase.dos.opt.cuatro.check.dos' | translate}}"
                        #check_2
                        name="check_2" 
                        (onChange)="faseDosCheckBoxHandler(check_2)"
                        [binary]="true"
                        [disabled]="checkDisabled.disCheck_2" 
                        [(ngModel)]="checkValues.check_2" 
                      >
                    </p-checkbox>
                    <button 
                      [disabled]="(checkValues.check_1 && checkValues.check_2) ? false : true" 
                      class="btn btn-primary btn-block mt-5 mb-5" 
                      (click)="siguiente()"
                    >Siguiente
                    </button>
                  </div>
                </div>
                <!-- Fin Opciones Primera Visa dependiente -->

              </div>  
            </div>

          </div>
        </div>
        <!-- Fin Segundo Paso -->

        <!-- Tercer Paso -->
        <div class="row m-4 backCol-box-blue-transparente" *ngIf="dataProgreso.fase === 3">
          <div class="col-12">
        
            <div class="row animated slideShow">
              <div class="col-12">
                <h3>{{'label.tramite.core.carnet.fase.tres.titulo' | translate}}</h3>
                <h5>{{'label.tramite.core.carnet.fase.tres.parrafo' | translate}}</h5>
                <hr>
                <p-accordion>
                  <p-accordionTab 
                    id="tabAccordion_1"
                    header="{{'label.tramite.core.carnet.fase.tres.panel.uno.header' | translate}}">
                      <ul>
                        <li>{{'label.tramite.core.carnet.fase.tres.panel.uno.lista.uno' | translate}} <a href="https://www.registrocivil.cl/" target="_blank" rel="noopener noreferrer">www.registrocivil.cl</a></li>
                        <li>{{'label.tramite.core.carnet.fase.tres.panel.uno.lista.dos'| translate}}</li>
                        <li>{{'label.tramite.core.carnet.fase.tres.panel.uno.lista.tres' | translate}}</li>
                        <li>{{'label.tramite.core.carnet.fase.tres.panel.uno.lista.cuatro' | translate}}
                          <p class="text-danger">{{'label.tramite.core.carnet.fase.tres.panel.uno.lista.cuatro.destacado' | translate}}</p>
                        </li>
                        <li>{{'label.tramite.core.carnet.fase.tres.panel.uno.lista.cinco' | translate}}</li>
                        <li>{{'label.tramite.core.carnet.fase.tres.panel.uno.lista.seis' | translate}}</li>
                      </ul>
                  </p-accordionTab>
                  <p-accordionTab header="{{'label.tramite.core.carnet.fase.tres.panel.dos.header' | translate}}">
                      <ul>
                        <li>{{'label.tramite.core.carnet.fase.tres.panel.dos.lista.uno' | translate}}</li>
                        <li>{{'label.tramite.core.carnet.fase.tres.panel.dos.lista.dos' | translate}}</li>
                        <li>{{'label.tramite.core.carnet.fase.tres.panel.dos.lista.tres' | translate}}</li>
                        <li>{{'label.tramite.core.carnet.fase.tres.panel.dos.lista.cuatro' | translate}}</li>
                        <li>{{'label.tramite.core.carnet.fase.tres.panel.dos.lista.cinco' | translate}}</li>
                      </ul>
                  </p-accordionTab>
                  <p-accordionTab header="{{'label.tramite.core.carnet.fase.tres.panel.tres.header' | translate}}">
                    <p>{{'label.tramite.core.carnet.fase.tres.panel.tres.parrafo.uno' | translate}}</p>
                      <ul>
                        <li>
                          <b>{{'label.tramite.core.carnet.fase.tres.panel.tres.lista.uno.destacado.uno' | translate}}</b>
                          {{'label.tramite.core.carnet.fase.tres.panel.tres.lista.uno.uno' | translate}}
                          <b>{{'label.tramite.core.carnet.fase.tres.panel.tres.lista.uno.destacado.dos' | translate}}</b>
                          {{'label.tramite.core.carnet.fase.tres.panel.tres.lista.uno.dos' | translate}}
                        </li>
                        <li>
                          <b>{{'label.tramite.core.carnet.fase.tres.panel.tres.lista.dos.destacado.uno' | translate}}</b>
                          {{'label.tramite.core.carnet.fase.tres.panel.tres.lista.dos' | translate}}
                        </li>
                        <li>{{'label.tramite.core.carnet.fase.tres.panel.tres.lista.tres' | translate}}</li>
                      </ul>
                    <p>{{'label.tramite.core.carnet.fase.tres.panel.tres.parrafo.dos' | translate}}</p>   
                  </p-accordionTab>
                </p-accordion>

                <button class="btn btn-primary btn-block mt-5 mb-5" (click)="siguiente()">Siguiente</button>

              </div>
            </div>

          </div>
        </div>
        <!-- Fin Tercer Paso -->

        <!-- Cuarto Paso -->
        <div class="row m-4 backCol-box-blue-transparente" *ngIf="dataProgreso.fase === 4">
          <div class="col-12 animated slideShow">
        
            <div class="row">
              <div class="col-12">
                <h3>{{'label.tramite.core.carnet.fase.cuatro.titulo' | translate}}</h3>
                <h5>{{'label.tramite.core.carnet.fase.cuatro.parrafo' | translate}}</h5>
                <button class="btn btn-primary btn-block mt-5 mb-5" (click)="siguiente()">Siguiente</button>
              </div>
            </div>

          </div>
        </div>
        <!-- Fin Cuarto Paso -->

        <!-- Quinto Paso -->
        <div class="row m-4 backCol-box-blue-transparente" *ngIf="dataProgreso.fase === 5">
          <div class="col-12 animated slideShow">
        
            <div class="row">
              <div class="col-12">
                <h3>{{'label.tramite.core.carnet.fase.cinco.titulo' | translate}}</h3>
                <h5>{{'label.tramite.core.carnet.fase.cinco.parrado' | translate}}</h5>
                <ul>
                  <li>{{'label.tramite.core.carnet.fase.cinco.lista.uno' | translate}}</li>
                  <li>{{'label.tramite.core.carnet.fase.cinco.lista.dos' | translate}}</li>
                  <li>{{'label.tramite.core.carnet.fase.cinco.lista.tres' | translate}}</li>
                  <li>{{'label.tramite.core.carnet.fase.cinco.lista.cuatro' | translate}}</li>
                  <li>{{'label.tramite.core.carnet.fase.cinco.lista.cinco' | translate}}</li>
                  <li>{{'label.tramite.core.carnet.fase.cinco.lista.seis.uno' | translate}}
                    <a href="https://www.registrocivil.cl/" target="_blank" rel="noopener noreferrer">www.registrocivil.cl</a>
                    {{'label.tramite.core.carnet.fase.cinco.lista.seis.dos' | translate}}
                  </li>
                </ul>
              </div>
            </div>

            <button class="btn btn-primary btn-block mt-5 mb-5" (click)="siguiente()">Trámite Finalizado</button>


          </div>
        </div>
        <!-- Fin Quinto Paso -->

        <div class="row m-4 backCol-box-blue-transparente"  *ngIf="dataProgreso.fase === 6">
          <div class="col-12">
            <h3>ESPACIO EN CONSTRUCCION - ÁREA FINALIZADO</h3>
          </div>
        </div>

      </div>  
    </div>
  </div>
</div>