#tramite-carnet {
    min-height: 100vh;
}

/* Extra */
.font-amarillo {
    font-family: Betm;
    color: #F4EF9A;
}
/* Fin Extra*/

/* Global Tags */

#main-tramite-carnet, h3 {
    font-family: Sorry;
    color: #FFFFFF;
    font-size: 30px;
    margin-top: 10px;
}

#main-tramite-carnet, h5 {
    font-family: Betm;
    color: #F39634;
    font-size: 20px;
}
#main-tramite-carnet, p {
    font-family: Betm;
    color: #FFFFFF;
    font-size: 20px;
}

@media only screen and (max-width: 991px) {
    #main-tramite-carnet, h3 {
        font-family: Sorry;
        color: #FFFFFF;
        font-size: 25px;
        margin-top: 10px;
    }
    
    #main-tramite-carnet, h5 {
        font-family: Betm;
        color: #F39634;
        font-size: 18px;
    }
    #main-tramite-carnet, p {
        font-family: Betm;
        color: #FFFFFF;
        font-size: 18px;
    }

    #main-tramite-carnet #lista-fase-cinco {
        font-size: 16px;
        
    }

}

/* Fin Global Tags */

/* Ng Material */

::ng-deep .mat-checkbox-layout {
    white-space: normal !important;
    font-size: 20px;
    font-family: Betm;
}

::ng-deep .mat-checkbox-inner-container {
    margin-top: 3px !important;
}

::ng-deep .mat-radio-label-content {
    white-space: normal !important;
    font-size: 20px;
    font-family: Betm;
}

::ng-deep .mat-expansion-panel-header {
    border: 1px solid #FFFFFF !important;
    background-color: #491311!important;
}

::ng-deep .mat-expansion-panel-header:hover {
    border: 1px solid #FFFFFF !important;
    background-color: #F39634 !important;
}

::ng-deep .mat-expansion-panel-body {
    border: 1px solid #FFFFFF !important;
    background-color: #491311!important;
    color: #FFFFFF;
    font-family: Betm;
    font-size: 18px;
}

::ng-deep .mat-expansion-panel-header-title {
    color: #FFFFFF;
    font-family: Betm;
    font-size: 18px;
}

@media only screen and (max-width: 991px) {

    ::ng-deep .mat-radio-label-content {
        font-size: 16px;
    }

    ::ng-deep .mat-checkbox-layout {
        font-size: 16px;
    }

    ::ng-deep .mat-expansion-panel-body {
        font-size: 16px;
    }

    ::ng-deep .mat-expansion-panel-body, ul {
        padding-left: 20px !important;
    }
    
    ::ng-deep .mat-expansion-panel-header-title {
        font-size: 16px;
    }
    

}
/* Fin Ng Material */

/* Progress Bar */

::ng-deep .progress-bar{
    background-color:#F4EF9A  !important;
    color: #050505;
    border: 1px solid #050505;
    font-size: 15px;
}

/* Fin Progress Bar*/

/* SIDE BAR STEPS */
#tramite-carnet .font-position {
    padding-right: 8%;
}

#tramite-carnet .circle {
    transform: translatey(440%);
    left: 50%;
    height: 30px;
    width: 30px;
    background-color: rgb(15, 105, 180);
    border-radius: 50%;
    margin: auto;
    color: #FFFFFF;
    font-family: Betm;
    font-size: 20px;
}

#tramite-carnet .circle::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border: 20px solid rgb(15, 105, 180);
    border-width: 0 8px 8px 8px;
    width: 1px;
    height: 85vh;
}

/* FIN SIDE BAR STEPS */