<div class="row animated fadeIn">
  <div class="col-12">

    <div class="row">
      <div class="col-12">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-3">{{ dataTramite.titulo | translate}}</h1>
            <p class="lead">{{ dataTramite.descripcion | translate}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        
        <div class="row text-center">
          <div class="col-12">
            <img class="img-fluid" src="./assets/img/app_const_500.jpg" alt="">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>