
<div class="row h-100" *ngIf="!userIsAuthenticated && !loadingPage" id="home-no-auth">
  <div class="col-12">

    <!-- Seccion logo principal Version PC-->
    <div *ngIf="!mobileScreen" class="row mt-5 animated fadeIn img-background ">
      <div class="col-12">

        <div class="row">
          <div class="col-12">
            <h1 class="text-center h-cafe-sorry-80-borde mt-4">{{'label.home.no.autenticado.titulo.saludo' | translate}}</h1>
          </div>
        </div>

        <div class="row ml-5 mr-5">
          <div class="col-12">
            <p class="p-ama-claro-betm-30-borde text-center">
              {{'label.home.no.autenticado.titulo.parrafo' | translate}}
            </p>
          </div>
        </div>
        <br><br><br><br><br><br><br><br>
        <div class="row mt-3 mb-5">
          <div class="col-12">
            
            <div class="d-flex">
              <ul style="list-style: none;" class="mx-auto justify-content-center p-ama-claro-betm-30-borde">
                <li>&bull;&nbsp;{{'label.home.no.autenticado.titulo.lista.uno' | translate}}</li>
                <li>&bull;&nbsp;{{'label.home.no.autenticado.titulo.lista.dos' | translate}}</li>
                <li>&bull;&nbsp;{{'label.home.no.autenticado.titulo.lista.tres' | translate}}</li> 
              </ul>
            </div>
            
          </div>
        </div>

      </div>       
    </div>
    <!-- Fin Seccion logo principal Version PC-->

    <!-- Seccion logo principal Version Mobil-->
    <div  *ngIf="mobileScreen" class="row mt-5 animted animated fadeIn">
      <div class="col-12">

        <div class="row">
          <div class="col-12">
            <h1 class="text-center h-blanca-sorry-60 mt-4">{{'label.home.no.autenticado.titulo.saludo' | translate}}</h1>
          </div>
        </div>

        <div class="row sinpadding">
          <div class="col-12">
            <img class="img-fluid img-background" src="assets/img/jpg/presentacion.jpg" alt="">
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-12">
            <p class="p-blanca-betm-20 text-center">
              {{'mobil.label.home.no.autenticado.titulo.parrafo' | translate}}
            </p>
          </div>
        </div>

        <div class="row mb-2 sinpadding">
          <div class="col-12">
  
              <ul style="list-style: none;" class="text-left p-blanca-betm-20">
                <div class="punto-li"></div><li class="pb-2">{{'label.home.no.autenticado.titulo.lista.uno' | translate}}</li>
                <div class="punto-li"></div><li class="pb-2">{{'label.home.no.autenticado.titulo.lista.dos' | translate}}</li>
                <div class="punto-li"></div><li class="pb-2">{{'label.home.no.autenticado.titulo.lista.tres' | translate}}</li> 
              </ul>
            
          </div>
        </div>

      </div>
    </div>
    <!-- Fin Seccion logo principal Version Mobil-->

  </div>
</div>

<div class="row h-100 mt-4" *ngIf="userIsAuthenticated && !loadingPage">
  <div class="col-12">

    <!-- Seccion Opciones si esta autenticado Version PC-->
    <div class="row backCol-normal" *ngIf="!mobileScreen" id="home-auth">
      <div class="col-12">

        <!-- Titulo de Página-->
        <div class="row mt-5 animated slideShow">
          <div class="col-12 text-center">
            <h1 class="h-blanca-sorry-60 mt-1">
              ¡{{'label.home.autenticado.titulo.saludo' | translate}} 
              {{ usuario.nombre }}!</h1>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-12 text-center">
            <p class="p-ama-claro-betm-40 pl-5 pr-5">
              {{'label.home.autenticado.parrafo' | translate}}
            </p>
          </div>
        </div>
        <!-- Fin Titulo de Página-->

        <!-- Opciones de botones -->
        <div class="row animated fadeIn sinpadding pl-1 pr-1 mt-5 mb-5">
          <div class="col-3">
            <button 
              type="button" 
              class="btn btn-ancho-alto-naranjo" 
              id="judicial"
              (click)="navegarMain('juridico')">
              <img src="assets/img/png/juridico-icono.png" alt="">
              <p class="h-ama-claro-sorry-45 pt-5">{{'label.boton.juridico' | translate}}</p>
            </button>
          </div>
          <div class="col-3">
            <button 
              type="button" 
              class="btn btn-ancho-alto-ama-claro " 
              id="legal"
              (click)="navegarMain('legal'); redirectAppNoDisponible()">
              <img src="assets/img/png/legal-icono.png" alt="">
              <p class="p-cafe-sorry-45 pt-5">{{'label.boton.legal' | translate}}</p>
            </button>
          </div>
          <div class="col-3">
            <button 
              type="button" 
              class="btn btn-ancho-alto-naranjo" 
              id="social"
              (click)="navegarMain('social'); redirectAppNoDisponible()">
              <img src="assets/img/png/social-icono.png" alt="">
              <p class="h-ama-claro-sorry-45 pt-5">{{'label.boton.social' | translate}}</p>
            </button>
          </div>
          <div class="col-3">
            <button 
              type="button" 
              class="btn btn-ancho-alto-ama-claro" 
              id="cultural"
              (click)="navegarMain('cultural'); redirectAppNoDisponible()">
              <img src="assets/img/png/cultural-icono.png" alt="">
              <p class="p-cafe-sorry-45 pt-5">{{'label.boton.cultural' | translate}}</p>
            </button>
          </div>
        </div>
        <!-- Fin Opciones de botones -->

      </div>
    </div>
    <!-- Fin Seccion Opciones si esta autenticado Version PC-->

    <div class="row backCol-normal" *ngIf="mobileScreen" id="home-auth">
      <div class="col-12">

        <div class="row mt-5 pt-4 animated slideShow">
          <div class="col-12 text-center">
            <h1 class="h-blanca-sorry-40 mt-1">
              ¡{{'label.home.autenticado.titulo.saludo' | translate}} 
              {{ usuario.nombre }}!</h1>
          </div>
        </div>

        <div class="row mt-1">
          <div class="col-12 text-center">
            <p class="p-ama-claro-betm-20 pl-5 pr-5">
              {{'label.home.autenticado.parrafo' | translate}}
            </p>
          </div>
        </div>

        <!-- Opciones de botones -->
        <div class="row animated fadeIn sinpadding pl-1 pr-1 mt-5 mb-1">
          <div class="col-6">
            <button 
              type="button" 
              class="btn btn-ancho-alto-naranjo" 
              id="judicial"
              (click)="navegarMain('juridico')">
              <img class="tam-icono-home" src="assets/img/png/juridico-icono.png" alt="">
              <p class="h-ama-claro-sorry-35 pt-2">{{'label.boton.juridico' | translate}}</p>
            </button>
          </div>
          <div class="col-6">
            <button 
              type="button" 
              class="btn btn-ancho-alto-ama-claro" 
              id="legal"
              (click)="navegarMain('legal'); redirectAppNoDisponible()">
              <img class="tam-icono-home" src="assets/img/png/legal-icono.png" alt="">
              <p class="p-cafe-sorry-35 pt-2">{{'label.boton.legal' | translate}}</p>
            </button>
          </div>
        </div>

        <div class="row animated fadeIn sinpadding pl-1 pr-1 mb-5 mt-1">
          <div class="col-6">
            <button 
              type="button" 
              class="btn btn-ancho-alto-ama-claro" 
              id="social"
              (click)="navegarMain('social'); redirectAppNoDisponible()">
              <img class="tam-icono-home" src="assets/img/png/social-icono.png" alt="">
              <p class="p-cafe-sorry-35 pt-2">{{'label.boton.social' | translate}}</p>
            </button>
          </div>
          <div class="col-6">
            <button 
              type="button" 
              class="btn btn-ancho-alto-naranjo" 
              id="cultural"
              (click)="navegarMain('cultural'); redirectAppNoDisponible()">
              <img class="tam-icono-home" src="assets/img/png/cultural-icono.png" alt="">
              <p class="h-ama-claro-sorry-35 pt-2">{{'label.boton.cultural' | translate}}</p>
            </button>
          </div>
        </div>
        <!-- Fin Opciones de botones -->

      </div>
    </div>

  </div>
</div>

<div class="row" *ngIf="loadingPage">
  <div class="col-12">
    <app-loading></app-loading>
  </div>
</div>