#login{
    height: 100vh;
    padding-top: 6rem;
}


.img-background {
    background-image: url('../../../assets/img/jpg/registro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-login {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	font-family: Sorry;
	font-size:35px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn-login:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.btn-login:active {
	position:relative;
	top:1px;
}

.font-google {
    color:#d34836;
}

.font-facebook {
    color:#3b5998;
}

/* 
    google #d34836 
    facebook #3b5998
*/