#profile{
    height: 100vh !important;
}

@media only screen and (max-height: 420px) {
 
    #profile{
        height: unset !important;
    }
}

.sinpadding [class*="col-"] {
    padding: 5px !important;
    margin: 5px !important;
}

::ng-deep .mat-drawer {
    background-color: rgba(73, 19, 17, 0.4);
}

::ng-deep .mat-drawer-container { 
    flex: 1 1 auto !important; 
}

::ng-deep .mat-drawer-inner-container {
    overflow: hidden !important;
}


.menu-padding {
    padding-bottom: 5rem;
}

.img-size {
    width: 150px;
    height: auto;
}