<div class="row" id="profile">
  <div class="col-12">

      <div class="row animated fadeIn">
        <div class="col-3 pb-5 backCol-transparente">
            
          <div class="row mt-2 pt-2 text-center">
            <div class="col-12">
              <img class="img-fluid rounded-circle" [src]="usuario.img" alt="">
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <h4 class="text-center">{{usuario.nombre}}</h4>
            </div>
          </div>

          <div class="row mt-5 pl-5 menu-padding">
            <div class="col-12">
              <p-menu styleClass="menucus" autoDisplay="false" [model]="items"></p-menu>
            </div>
          </div>
            
        </div>

        <div class="col-9 backCol-normal" *ngIf="key === 'PROFILE.ACTIVITY'">
          <app-profile-activity></app-profile-activity>
        </div>

      </div>

  </div>
</div>