<div class="row animated fadeIn" id="identidad-general">
  <div class="col-12">

    <div class="row posicion-titulo-mt-17-pct ml-2">
      <div class="col-12">
        <h1 class="h-negro-sorry-50">{{'label.contenido.carnet.general.titulo' | translate}}</h1>
      </div>
    </div>

    <div class="row backCol-transparente">
      <div class="col-11 ml-4 pt-4">
        <p class="p-negro-betm-25">{{'label.contenido.carnet.general.parrafo.uno' | translate}}</p>
        <p class="p-negro-betm-25 pt-3">{{'label.contenido.carnet.general.parrafo.dos' | translate}}
          <a href="https://www.registrocivil.cl/" target="_blank" rel="noopener noreferrer">{{'label.contenido.carnet.general.parrafo.dos.link' | translate}}</a>
        </p>
        <br><br><br><br><br><br><br><br>
      </div>
    </div>

  </div>
</div>