.sinpadding [class*="col-"] {
    padding: 0 !important;
    margin: 0 !important;
}

#main{
    height: 100vh;
}

.menu-padding {
    padding-bottom: 5rem;
}

.img-border {
    border: 3px solid #F39634;
}


@media only screen and (max-width: 991px) {

    .img-border {
        border: unset;
        width: 100%;
        height: 50vw;
        object-fit: cover;
        object-position: 50% 30%;
    }
}


