<div class="row">
  <div class="col-12">
     
    <div class="row mt-3">

      <div class="col-1"></div>

      <div class="col-4">
        <div class="row mr-5">

          <div class="col-12 backCol-ama-claro text-center">
            <img class="img-fluid mb-5 mt-5" src="assets/img/png/no-disponible.png" alt="">
          </div>

        </div>
      </div>

      <div class="col-7">

        <div class="row">
          <div class="col-12">
            <h1 class="h-cafe-sorry-80 text-position">{{'label.no.disponible.titulo' | translate}}</h1>
          </div>
        </div>

      </div>

    </div>
    
    <div class="row backCol-normal">
      <div class="col-12">
        <p class="p-blanca-betm-15 pt-3 text-center">
          {{'label.no.disponible' | translate}}
        </p>
      </div>
    </div><br><br><br><br><br>

  </div>
</div>