.text-position {
    padding-top: 45%;
}

.img-pos {
    position: absolute;
    left: 0;
    bottom: 0;
}

#label-div {
    margin-bottom: 22vh !important;
}

@media only screen and (max-width: 991px) {

    .text-position {
        padding-top: 25%;
        white-space: normal;
    }

    .title-label {
        z-index: 10;
    }

    .img-size {
        width: 53vw;
        height: auto;
    }

    .img-pos {
        position: absolute;
        left: -30%;
        bottom: 0;
        padding-top: 50%;
    }

    .img-div-pos {
        padding-top:50% !important;
    }

}