<div class="row animated fadeIn" id="juridico-general">
  <div class="col-12">

    <div class="row posicion-titulo-mt-4-pct ml-2">
      <div class="col-12">
        <h1 class="h-negro-sorry-50">{{'label.contenido.juridico.general.titulo.uno' | translate}}</h1>
        <h1 class="h-negro-sorry-50">{{'label.contenido.juridico.general.titulo.dos' | translate}}</h1>
        <h1 class="h-negro-sorry-50">{{'label.contenido.juridico.general.titulo.tres' | translate}}</h1>
      </div>
    </div>

    <div class="row backCol-transparente">
      <div class="col-8 ml-4 pt-4">
        <p class="p-negro-betm-25">{{'label.contenido.juridico.general.parrafo' | translate}}</p>
        <ul class="p-negro-betm-25">
          <li>{{'label.menu.juridico.identidad' | translate}}</li>
          <li>{{'label.menu.juridico.trabajo' | translate}}</li>
          <li>{{'label.menu.juridico.prevision' | translate}}</li>
        </ul>
        <br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>